@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monsterrat", sans-serif; 
}

body{
    margin: 0;
    padding: 0;
    background: #4B4453;
}

html{
    scroll-behavior: smooth;
}


/* Dark and light mode button */
.lightmode{
    background: white;
}
#light-mode-toggle{
    width: 50px;
    height: 20px;
    background-color: #B5A5C7;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
}


/* header edits */
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}
.logo{
    color: #845EC2;
    font-style: italic;
    cursor: pointer;
    font-size: 25px;
}
nav ul li{ /* this effects the general list of links */
    display: inline-block; /* sets links horizontal instead of vertical */
    list-style: none;
    margin: 10px 20px; /* spaces out the links: top & bottom then left to right */
}
nav ul li a{ /* This impacts the actual links themselves*/
    color: #2e126d;
    text-decoration: none;
    font-size: 18px;
    position: relative; /* so you can see the colored lines */
}
nav ul li a::after{ /* creates lines under links */
    content: ' ';
    width: 0%;
    height: 3px;
    background: #EABDFF;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{ /* the lines will only appear when hovered over*/
    width: 100%;
}


/* Section 2 */
.section2{
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
}
.header-text{ /* impacts full header-text container */
    margin-top: 20px; /* pushes it down  a little */
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    flex-basis: 500px;
}
.header-text h1{ /* impacts only h1*/
    font-size: 40px;
    margin-top: 40px;
}
.header-text span{
    color: #845EC2; /* finished watching 18:56 */
}
.picture img{
    border: 2px solid black;
    border-radius: 18px;
    width: 510px;
    height: 600px;
}
.responsive-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain the image's aspect ratio */
}



/* About page */
#about{
    padding: 80px 0;
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.about-column-1{
    flex-basis: 35%; /* the width of the cloumn will be 35% */
}
.about-column-1 img{
    width: 140%;
    border-radius: 15px;
    border: 2px solid black;
}
.about-column-2{
    flex-basis: 48%; /* Moves about page from right to left */
}
.main-title{
    font-size: 35px;
    color: #845EC2;
}



/* skills section */
.skill-content{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.skill-title{
    font-size: 35px;
    color: #845EC2;
    margin-top: 20px;
    text-align: center;
}
.skill-content h4{
    color: rgb(175, 152, 155);
    display: inline;
    list-style: none;
}
.sub-list{
    list-style: none;
    margin: 10px 0;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{ 
    display: block; 
}
hr{
    margin-bottom: 10px;
    background: #845EC2;
    height:5px;
    border-width:0;
}


/* -----------Projects ----------*/
#projects{
    padding: 30px 0;
    margin-top: -90px;
}
.projects-list{ /* grid layout */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}
.projects-list div{ /* styling container info of projects */
    background: #845EC2;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 20px;
    transition: transform 0.5s;
}
.projects-list div i{ /* styling the icons in the containers */
    font-size: 30px;
    margin-bottom: 20px;
}
.projects-list div h2{ /* styling title in the containers */
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list div a{ /* styling links */
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.projects-list div:hover{
    background: #9B89B3;
    transform: translateY(-10px); /* moves box by 10px */
}


/* Contact */
.contact-left{ /* left column*/
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 10px;
}
.contact-left p i{
    color: #aa7dc4;
    margin-right: 15px; 
    font-size: 25px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(44, 44, 152);
}
.social-icons a:hover{
    color: blue;
}
.btn{
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    background: #845EC2;
    cursor: pointer;
}
.contact-right{ /* right column*/
    flex-basis: 60%;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%; /* to stack them all on top of each other */
    border: none;
    border-radius: 6px;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 15px;
}
form .btn{
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
}
.lightmode input{
    background: #FBEAFF;
}
.lightmode textarea{
    background: #FBEAFF;
}


nav .fa-solid{
    display: none;
}
/* Making the website responsive on mobile */
@media only screen and (max-width: 600px){
    .section2{
        display: block;
    }
    .header-text{
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .header-text{ /* changing the header-text for mobile */
        font-size: 16px;
    }
    .header-text{
        font-size: 30px;
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: gray;
        position: fixed;
        top: 0;
        right: -200px; /* it's 200 bc the width is 200. This will hide the side bar */
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

/* about moblie*/
    .main-title{
        font-size: 40px;
    }
    .picture img{
        max-width: 100%;
        height: auto;
    }
    .row{
        flex-direction: column;
    }
    .about-column-1.about-column-2{
        flex-basis: 100%;

    }
    .about-column-1{
        margin-bottom: 30px;
    }
    .about-column-2{
        font-size: 16px;
    }
    .skill-content h1{
        font-size: 30px;
        margin-left: 10px;
    }
    .main h4 {
        margin-left: 10px;
    }
    .sub-list li{
        font-size: 17px;
        margin-left: 10px;
    }
    .about-column-1 img{
       width: 70%;
    }
    #light-mode-toggle{
        margin-left: 25px;
    }
}
@media only screen and (min-width: 768px){
    .row{
        gap: 100px;
    }
}